#pict_zav_caf{/* Фотография зав. кафедрой */
	display: block;
	height: 215px;
	width: 160px;
	background-image: url(naumov.jpg);
	position: absolute;
	left: 25px;
}
 
#zav_caf_tx{/* текст зав. кафедрой */
	position: absolute;
	top: 290px;
	left: 25px;
}

 a { /* убирание подчеркивания ссылок */
    text-decoration: none;
}

.main_text{/* текст по умолчанию */
	background-color: #e9e9e9;
	border: single;
	margin: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Arial;
}

#contact_info{/* контактная информация */
	background-color: white;
	margin-top: 10px;
	margin-right: 15px;
	border: double;
}

.links{/* ссылки (каждая по отдельности) */
	border: double;
	border-width: 6px;
	border-color: white;
}

#logo{/* логотип */
	margin-bottom: 10px;
	background-image: url(logo.png);
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
}

#nav{/* меню навигации */
	margin-right: 60px;
	margin-left: 60px;;
	height: 30px;
	background-color: lightblue;
}

#nav a{/* настройка ссылок */
	height: 30px;
	color: black;
	font: "Courier New";
	line-height: 25px;
	background-repeat: no-repeat;
	position: right;
	right: 25px;
}

#nav a:Hover{/* настройка ссылок */
	background-color: white;
}
