#logo{/* логотип */
	display: block;
	position: relative;
	top: -21px;
	width: 40px;
	height: 40px;
}

#pict_zav_caf{/* Фотография зав. кафедрой */
	display: block;
	height: 215px;
	width: 160px;
	border: solid 3px white;
	border-radius: 4px;
	background-image: url(naumov.jpg);
	position: relative;
	background-position: center;
	background-size: 120%;
	top: 5px;
	max-width: 1000px;
}

#zav_caf_tx{/* текст зав. кафедрой */
	position: relative;
	top: 10px;
	font-family: Arial;
	border: solid 1px white;
	border-radius: 4px;
	background-color: white;
	width: 230px;
	height: 40px;
	padding-left: 5px;
}

#zav{/* Эллемент позиционирования блока зав. кафедрой */
	max-width: 1010px;
	height: 450px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#head_photo{/* Заглавная фотография на гл. странцие */
	display: block;
	width: 85%;
	max-width: 1010px;
	max-height: 33.3%;
	height: 392.16px;
	background-image: url(G.jpg);
	background-position: center;
	background-size: 100%;
	max-width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 1%;
	background-repeat: no-repeat;

}

#head_main{/* Заголовок гл. странциы */
	font-size: 20px;
	font-family: Arial;
	background-color: white;
	border: 5px solid white;
	border-radius: 4px;
	height: 100px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: -5px;
}

#head_abit{/* Заголовок для абитуриента */
	font-size: 20px;
	font-family: Arial;
	background-color: white;
	border: 5px solid white;
	border-radius: 4px;
	height: 100px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: -5px;
}

#head_usf_inf{/* Заголовок для студента */
	font-size: 20px;
	font-family: Arial;
	background-color: white;
	border: 5px solid white;
	border-radius: 4px;
	height: 100px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: -5px;
}

#head_sceudule{/* Заголовок расписание */
	font-size: 20px;
	font-family: Arial;
	background-color: white;
	border: 5px solid white;
	border-radius: 4px;
	height: 100px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: -5px;
}

#head_news{/* Заголовок новости */
	font-size: 20px;
	font-family: Arial;
	background-color: white;
	border: 5px solid white;
	border-radius: 4px;
	height: 60px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: -5px;
}

.news_block{/*Блок новостей*/
	font-family: Arial;
	background-color: white;
	border: 1px solid white;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 5px;
	padding-left: 5px;
	max-width: 1000px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#nav a { /* убирание подчеркивания ссылок */
    text-decoration: none;

}

#about{/* О кафедре */
	font-family: Arial;
	background-color: white;
	border: 1px solid white;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 5px;
	padding-left: 5px;
	max-width: 1000px;
	top: -170px;
	position: relative;
}

#teachers{/* преподаватели */
	font-family: Arial;
	background-color: white;
	border: 1px solid white;
	border-radius: 4px;
	padding-left: 5px;
	display: block;
	position: relative;
	width: 220px;
	top: -160px;
	padding-right: 5px;
	padding-left: 5px;
	
}

#teach{ /* элемент позиционирования блока "Преподаватели" */
	position: relative;
	max-width: 1010px;
	margin-left: auto;
	margin-right: auto;
}

#contact_info{/* контактная информация на гл. странице */
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	font-family: Arial;
	position: relative;
	max-width: 1010px;
	top:-445px;
}

#tab{/* элемент позицианирования блока "Контактная информация" */
	border: solid 1px white;
	background-color: white;
	border-radius: 4px;
}

#nav{/* меню навигации */
	height: 40px;
	font-size: 17px;
	background-color: #7B68EE;
	margin: -17px;
	line-height: 40px;
	font-family: Arial;

}

.links_backgroung{/* кнопки навигации */
	display: block;
	height: 30px;
	background-color: #483D8B;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #483D8B;
	border-radius: 20px;
}

#nav b{/* Текст кнопок навигации */
	font-family: Arial;
	color: #AB82FF;
}

#nav b:Hover{/* текст кнопок навигации (наведение) */
	color: #EED2EE;
}

ul.hr li {/* Навигация (горизантальный список) */
	display: inline;
	margin-right: 15px;
	
}

#background-color{/*цвет фона страницы*/
	background-color: #edeef0;
}

#pad{/*отступы тела доккумента*/
	padding-left: 7.5%;
	padding-right: 7.5%;
}

#copywrite{/*авторы*/
	color: gray;
	font-family: Arial;
	font-size: 13px;
}

#copywrite a { /* убирание подчеркивания ссылок */
    text-decoration: none;
	color: #7B68EE;
	font-family: Arial;
}

ul{
	-webkit-padding-start: 0;
}