.pict_zav_caf{
	display: block;
	height: 215px;
	width: 160px;
	background-image: url(naumov.jpg);
	position: absolute;
	left: 25px;
}

.main_text{
	background-color: #e9e9e9;
	border: single;
	margin: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.contact_info{
	background-color: #e9e9e9;
	margin-top: 10px;
	margin-right: 15px;
}

.links{
	border: double;
	border-width: 6px;
	border-color: white;
}

#nav{
	margin-right: 15px;
	margin-left: 865px;
	padding: 10px;
	height: 30px;
	background-color: lightblue;
}

#nav a{
	height: 30px;
	color: black;
	font: "Courier New";
	line-height: 25px;
	background-repeat: no-repeat;
	position: right;
	right: 25px;
}

#nav a:Hover{
	background-color: white;
}
